[flake8]
max-line-length = 130
max-complexity = 23

ignore = E701, E501, W503
exclude =
    .git
    tests/*
    examples/*

per-file-ignores =
    lgsvl/__init__.py:F401
    lgsvl/dreamview/__init__.py:F401
    lgsvl/evaluator/__init__.py:F401
    lgsvl/wise/__init__.py:F401
